.classy{
    display: flex;
}
.classyun{
    background-color: orange !important;
}
.classyzero{
    background-color: red !important;
}
.sizer{
   width : 30%;
   margin: 0.2rem;
   background-color: aqua; 
}
.imagerie{
    width: 100%;
    height: 60%;
}